---
# SPDX-FileCopyrightText: 2024 Robin Schneider <ro.schneider@senec.com>
#
# SPDX-License-Identifier: CC0-1.0
#
# See https://pre-commit.com for more information.

# default_install_hook_types was added in 2.18.0.
minimum_pre_commit_version: '2.18.0'
default_install_hook_types:
  - pre-commit
  - commit-msg

default_stages:
  - pre-commit
  - pre-push

ci:
  autofix_commit_msg: "style: auto fixes from pre-commit.com hooks"
  autoupdate_commit_msg: "build: update pre-commit hooks to latest version"

repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: cef0300fd0fc4d2a87a85fa2093c6b283ea36f4b  # frozen: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      # - id: check-symlinks  # There are no symlinks. Lets keep it that way in the framework.
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: end-of-file-fixer
      - id: no-commit-to-branch
      - id: trailing-whitespace

  - repo: https://github.com/commitizen-tools/commitizen
    rev: 27499d727f5ceff802bda34bbda314644824ce06  # frozen: v4.1.0
    hooks:
      - id: commitizen

  - repo: https://github.com/adrienverge/yamllint.git
    rev: 81e9f98ffd059efe8aa9c1b1a42e5cce61b640c6  # frozen: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict]

  - repo: https://github.com/fsfe/reuse-tool
    rev: 60dfc6b2ad9e1f3eabfbcf3a0dc202ee89dc5a00  # frozen: v5.0.2
    hooks:
      # - id: reuse-lint-file # Does not work inside a git submodule as of v5.0.2?
      - id: reuse
